{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .asfont {
            color: {{color2}}
        }
        .asfont2 {
            color: lightgrey;
            font-weight: 200;
            animation: asfani forwards;
            animation-duration: 4s;
            animation-delay: 1s;
        }

        @keyframes asfani {
            0% {font-weight: 200;}
            30% {font-weight: 900;}
            100% {font-weight: 900; color: {{color2}}}
        }
    </style>
    <div class="container">
        <div class="row"></div>
        <div class="row"></div>
        {% ifequal lang 'de' %}
            <div class="row center-align"><h3><span class="asfont">Sehr geehrte Damen und Herren,</span></h3></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row anschreibenwrapper">
            <p class="asfont1">Warum sollten Sie ausgerechnet auf mich zurückgreifen? Nun, ich bin <span class="asfont2">MOTIVIERT</span>. Das haben Sie schon oft gehört? Nicht so wie von mir! Seit ich (wieder) angefangen habe <span class="asfont2">WEBSEITEN</span> zu programmieren, mache ich nicht mehr viel anderes. Ich habe mir neue Konzepte angeignet. Für diese Webseite habe ich mir <span class="asfont2">DJANGO</span> neu beigebracht und vorhandene Kenntnisse in <span class="asfont2">JAVASCRIPT</span>, <span class="asfont2">HTML</span> und <span class="asfont2">CSS</span> eingesetzt. Ich habe in naher Zukunft vor, mich tiefer in <span class="asfont2">REACT.JS</span> einzulesen und habe mich in Studium und Freizeit auch mit anderen Programmiersprachen auseinander gesetzt. Meine Fähigkeiten mit der Programmiersprache der nahen Zukunft, <span class="asfont2">PYTHON</span>, werden immer besser und ich habe auch andere OOPs ausprobiert.</p>
        </div>
        <div class="row"></row>
        <div class="row anschreibenwrapper">
            <p class="asfont1">Es fällt mir leicht neue <span class="asfont2">FÄHIGKEITEN</span> zu erlernen. Während der Umschulung habe ich meine Seite als <span class="asfont2">TEAMPLAYER</span> und vorallem <span class="asfont2">FÜHRUNGSPERSON</span> verbessert und kann mich also auch in einem Team gut mit einbringen. Mir fällt es vergleichsweise leicht anderen Themen, die ich erlernt habe, gut zu <span class="asfont2">VERMITTELN</span>.</p>
        </div>
        <div class="row"></div>
        <div class="row anschreibenwrapper">
            <p class="asfont1">Klingt alles super? Ist es auch. Aber warum bin ich dann nicht längst fest in einem Job in der IT-Welt? Nun, es gibt ein paar kleine <span class="asfont2">PROBLEME</span>, auf die ich dennoch zu sprechen kommen möchte. Ich finde es wichtig, dass ein potentieller <span class="asfont2">ARBEITGEBER</span> vorher darüber Bescheid weiß. Ich habe, vorallem im <span class="asfont2">STUDIUM</span>, mit meinem ADHS und meiner leichten Depression zu kämpfen gehabt. Ich habe während meiner <span class="asfont2">AUSBILDUNG</span> zum Hörakustiker, bzw schon davor, <span class="asfont2">STRATEGIEN</span> entwickelt, mit denen ich diese Probleme umschiffe und weitestgehend <span class="asfont2">ZUFRIEDENER</span> und <span class="asfont2">KONZENTRIERTER</span> an meine Arbeit gehen kann.</p>
        </div>
        <div class="row"></div>
        <div class="row anschreibenwrapper">
            <p class="asfont1">Zusammenfassend kann man sagen, dass man mit mir einen leistungsfähigen Mitarbeiter bekommen kann, der rasend schnell neue <span class="asfont2">KONZEPTE</span> auffasst, <span class="asfont2">TEAMFÄHIG</span> ist und der Ihnen das auch gerne bei einem <span class="asfont2">PRAKTIKUM</span> beweisen möchte. <span class="asfont2">INTERESSE</span> geweckt? Gerne dürfen Sie jederzeit bei mir anrufen oder mir eine E-Mail schicken. Nummer und E-Mail können Sie dem Impressum im Footer entnehmen. (Ich wollte diese nicht noch öffentlicher zur Schau stellen.)</p>
        </div>
        <div class="row anschreibenwrapper asfont1">
            Herzlichst, Ihr
            <h3 class="asfont">Jan Ihmels</h3>
        </div>
        {% endifequal %}
        {% ifequal lang 'en' %}
        <div class="row center-align"><h3><span class="asfont">Dear Sir or Madam,</span></h3></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row anschreibenwrapper">
            <p class="asfont1">Why should you to turn to me of all people? Well, apart other things, iI am <span class="asfont2">MOTIVATED</span>. You heard that a lot already? Not the way you'll hear it from me! Since I started this apprenticeship and began to write <span class="asfont2">WEBSITES</span> again, I don't do a lot more. I have aquired new Skills.  For this Page I learnd to integrate <span class="asfont2">DJANGO</span> and I used existing knowledge in <span class="asfont2">JAVASCRIPT</span>, <span class="asfont2">HTML</span> and <span class="asfont2">CSS</span>. In the near future I plan to read and learn new things about <span class="asfont2">REACT.JS</span> tried other object oriented and not object oriented programming languages in university and my free time. My skills with the programing language of the future, <span class="asfont2">PYTHON</span>, are still improving, as well as I restore my long unused knowledge about Java and C#.
        </div>
        <div class="row"></row>
        <div class="row anschreibenwrapper">
            <p class="asfont1">One thing that sets me apart from others is my <span class="asfont2">ABILITY</span> to learn new things very fast. During my retraining I discovered long lost skills as a <span class="asfont2">TEAMPLAYER</span> and especialy as a <span class="asfont2">LEADING PERSON</span> and I can use my skills in a team. It is quite easy for me to  <span class="asfont2">EXPLAIN</span> things I learned to others.</p>
        </div>
        <div class="row"></div>
        <div class="row anschreibenwrapper">
            <p class="asfont1">Sounds perfect? It is! So why do I not have a job in the IT Comunity for years and why am i still trying? Well, there are/were some <span class="asfont2">PROBLEMS</span> I want to talk about. I thinks its important to know for a new, potential <span class="asfont2">EMPLOYER</span> what he's in for. I had to fight my ADHS and my mild depression during my time in <span class="asfont2">UNIVERSITY</span>. I created <span class="asfont2">STRATEGIES</span> during my <span class="asfont2">TRAINING</span> as a professional in hearing care, or even before that, to avoid those problems and I am a lot more <span class="asfont2">SATISFIED</span> and more <span class="asfont2">CONCENTRATED</span> now while working.</p>
        </div>
        <div class="row"></div>
        <div class="row anschreibenwrapper">
            <p class="asfont1">In summary, you can say you will get an employee who quickly grasps new <span class="asfont2">CONCEPTS</span> and is <span class="asfont2">TEAM-CAPABLE</span> and who wants to prove you in a free <span class="asfont2">INTERNSHIP</span>. <span class="asfont2">INTERESSED</span>? You may always call at my phone or write an email to my personal adresses, which you can find in the footer.</p>
        </div>
        <div class="row anschreibenwrapper asfont1">
            Sincerly yours
            <h3 class="asfont">Jan Ihmels</h3>
        </div>
        {% endifequal %}
    </div>
{% endblock %}