{%extends 'index.html'%}
{%load static%}
{%block indexicon%}
<li><a href="{%url 'aquarium'%}" class="white-text"><i class="material-icons center white-text">home</i></a></li>
{%endblock indexicon%}

{%block indexicon1%}
<li><a href="{%url 'aquarium'%}" class="white-text"><i class="material-icons center white-text">home</i>Startseite</a></li>
{%endblock indexicon1%}

{%block aqcontent%}
    <div class="container white-text">
    <!-- multiple cards with infos -->
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header">Der Anfang...</h4>
                <div class="card blue horizontal">
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/54l/IMG_0265.jpg'%}" class="responsive-img" />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">Hier zu sehen: mein erstes Aquarium. Auf dieser Seite möchte ich die
                                verbaute Technik erklären, die Pflanzen präsentieren und in die Welt meiner Fische
                                einladen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header right-align">Die Filter</h4>
                <div class="card blue horizontal">
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">Das Besondere an diesem Aquarium sind seine zwei Filter. Ein Tetra IN 400 als Vorfilter und einen Fluval C als
                                Rucksackfilter mit Filtermaterialien.</p>
                        </div>
                    </div>
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/54l/IMG_0282.jpg'%}" class="responsive-img" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header">Weitere Technik</h4>
                <div class="card blue horizontal">
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/54l/IMG_0264.jpg'%}" class="responsive-img" />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">Dazu ist, für einen Anfänger wohl gewöhnlich, die dabei gewesene
                                Technik verbaut. Es sind 2 Eheim ClassicLED daylight mit zusammen 1200lm verbaut, ein
                                normaler Heizer und ein Diffusor für CO².</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header right-align">Pflanzen</h4>
                <div class="card blue horizontal">
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">Aufällige Pflanzen sind eine <span class="pfl-nm">Ludwigia
                                    red</span>, eine <span class="pfl-nm">Anubisa barteri var nana petite</span> und die
                                <span class="pfl-nm">Rotalla Rotundifolia</span> im Hintergrund. Dazu ist <span
                                    class="pfl-nm">Micrantheum</span> als Bodenbedecker. Der Rest ist aus einem
                                Anfängerset.
                            </p>
                        </div>
                    </div>
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/54l/IMG_0271.jpg'%}" class="responsive-img" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header">Fische und andere Tiere</h4>
                <div class="card blue horizontal">
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/54l/IMG_0276.jpg'%}" class="responsive-img" />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">Im 54l Aquarium sind nicht viele Fische. Ich habe einen Schwarm
                                <span class="pfl-nm">Feuertetra</span> und ein Pärchen <span class="pfl-nm">Apistogramma
                                    borelli</span>. Gegen Algen sind <span class="pfl-nm">Posthornschnecken</span>
                                eingesetzt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {%endblock%}