{%extends 'index.html'%}
{%load static%}
{%block indexicon%}
<li><a href="{%url 'aquarium'%}" class="white-text"><i class="material-icons center white-text">home</i></a></li>
{%endblock indexicon%}

{%block indexicon1%}
<li><a href="{%url 'aquarium'%}" class="white-text"><i class="material-icons center white-text">home</i>Startseite</a></li>
{%endblock indexicon1%}

{%block aqcontent%}
<div class="container white-text">
    <div class="row">
        <div class="col s12 m12">
            <h4 class="header">Der Wunsche nach mehr</h4>
            <div class="card blue horizontal">
            <div class="card-image imgcenter">
                <img src="{%static 'aquarium/pics/180l/IMG_0132.jpg'%}" class="responsive-img" />
                </div>
                <div class="card-stacked">
                    <div class="card-content centert">
                        <p class="cardtextsize">Das 54l Aquarium war das erste, aber nach kurzer Zeit wuchs in mir
                                der Wunsch nach mehr. Darum habe ich mir zum Geburtstag das 180l Aquarium gewünscht.
                                Dieses wird aktuell offen (das heißt ohne Deckel) betrieben.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header right-align">Der Filter</h4>
                <div class="card blue horizontal">
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">Es ist mein größtes Aquarium. Geplant war relativ bald der markante
                                tiefenwirksame Sandweg. Als Filter ist ein Aquael Ultramax 1000 verbaut, der mehrfach im
                                Internet empfohlen wurde.</p>
                        </div>
                    </div>
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/180l/IMG_0250.jpg'%}" class="responsive-img" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header">Weitere Technik</h4>
                <div class="card blue horizontal">
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/180l/IMG_0304.jpg'%}" class="responsive-img" />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">Neben der im Set enthalten EHeim classic LED habe ich eine JBL Solar
                                Natur verbaut. Diese sollte ausreichend Licht für die Pflanzen anbieten. Der Heizer ist
                                der im Set enthaltene. Zudem ist eine Hiwi Co² Anlage vorhanden.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header right-align">Deko und Hardscape</h4>
                <div class="card blue horizontal">
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">Es sind insgesamt 4 verschiedene Bodengründe (weißer/schwarzer Kies,
                                Sand und Dünger) integriert. Besonders schön finde ich die drachenförmige Wurzel,
                                passend zum zudem verwendeten Drachenstein.</p>
                        </div>
                    </div>
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/180l/IMG_0124.jpg'%}" class="responsive-img" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header">Pflanzen im Hintergrund</h4>
                <div class="card blue horizontal">
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/180l/IMG_0145.jpg'%}" class="responsive-img" />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">
                            <p class="cardtextsize">Gerade bei diesem Aquarium waren mir die Pflanzen sehr wichtig.
                                Daher Teile ich diese Sektion in 3 Teile und beginne mit dem Hintergrund. Dort sind
                                Kopfstecklinge meiner <span class="pfl-nm">Rotalla Rotundifolia</span> und eine <span
                                    class="pfl-nm">Rotalla H'Ra</span> verpflanzt.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header right-align">Pflanzen im Mittelgrund</h4>
                <div class="card blue horizontal">
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">Hier sind einige <span class="pfl-nm">Anubias barteri</span> Sorten
                                verpflanzt. Zudem mehrere <span class="pfl-nm">Bucephalandra</span>, mehrere Moose
                                (<span class="pfl-nm">Taxiphylum</span> und <span class="pfl-nm">Vesicularia</span>) und
                                <span class="pfl-nm">Cryptocoryn</span>.</p>
                        </div>
                    </div>
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/180l/IMG_0136.jpg'%}" class="responsive-img" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header">Weitere Pflanzen</h4>
                <div class="card blue horizontal">
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/180l/IMG_0156.jpg'%}" class="responsive-img" />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">Um das ganze abzurunden habe ich von der <span
                                    class="pfl-nm">Ludwigia red</span> aus dem kleineren Aquarium ebenfalls
                                Kopfstecklinge eingesetzt. Als Bodenbedecker habe ich <span class="pfl-nm">Micrantheum
                                    tweediei</span> verpflanzt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header right-align">Fische und Tiere</h4>
                <div class="card blue horizontal">
                    <div class="card-stacked">
                        <div class="card-content centert">
                            <p class="cardtextsize">Auch hier gibt es einige wenige <span class="pfl-nm">Posthornschnecken</span> und zusätzlich einige <span
                                    class="pfl-nm">Amano Garnelen</span>. Als Fische sind bisher
                                ein <span class="pfl-nm">Trichogaster trichopterus</span> Pärchen und ein Schwarm <span
                                    class="pfl-nm">Poecilia reticulata</span> (der bekannte Guppy) vorhanden.</p>
                        </div>
                    </div>
                    <div class="card-image imgcenter">
                        <img src="{%static 'aquarium/pics/180l/IMG_0198.jpg'%}" class="responsive-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}