{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/icon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <style>
        .green {background-color: {{color}} !important;}
        .green2 {background-color: {{color2}} !important;}
        li:hover {background-color: {{color2}} !important;}
        .dropdown-content > li:hover {background-color: {{color2}} !important;}
        .button {background-color: {{color}};}
        .footer #button{border:{{color}} 12px solid};
        .footer #button:hover{border: {{color2}} 12px solid;}
        .footer #container{background: {{color}}; opacity: 0.8;}
        .footer-copyright {background-color: {{color2}}; opacity: 0.8;}
        .white-text {color: {{colorbw}} !important;}
    </style>

    <ul id="dropdown1" class="dropdown-content green white-text">
        <li><a href="{%url 'anschreiben'%}" class="white-text">Über mich!</a></li>
        <li><a href="{%url 'werdegang'%}" class="white-text">Werdegang</a></li>
        <li><a href="{%url 'ziele'%}" class="white-text">Wünsche und Ziele</a></li>
    </ul>
<!-- fixed navbar (always on top) -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper green">
                <div class="container">
                    <a href="{% url 'home' %}" class="brand-logo white-text">Jan Ihmels</a>
                    <a href="#" class="sidenav-trigger left white-text" data-target="slide-out"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#" class="dropdown-trigger white-text" data-target="dropdown1">Das bin ich.<i class="material-icons right white-text">arrow_drop_down</i></a></li>
                        <li><a href="{% url 'projects' %}" class="white-text">js-Demos</a></li>
                        <li><a href="{% url 'videos' %}" class="white-text">Videos</a></li>
                        <li><a data-fancybox data-type="iframe" data-src="{%url 'bewertung'%}" href="javascript:;" class="white-text">Bewerten!</a></li>
                        <li class="white-text">&nbsp &nbsp Designfarbe: &nbsp <div class="color-picker"><input type="color" id="picker" value="{{color}}" onchange="changeColor(this.value)"></div></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
<!-- dropdown menu sidebar -->
    <ul id="dropdown2" class="dropdown-content green white-text">
        <li><a href="{%url 'anschreiben'%}" class="white-text">Über mich!</a></li>
        <li><a href="{% url 'werdegang' %}" class="white-text">Werdegang</a></li>
        <li><a href="{%url 'ziele'%}" class="white-text">Wünsche und Ziele</a></li>
    </ul>
<!-- sidebar for smaller screens -->
    <ul class="sidenav green" id="slide-out">
        <li><a href="#" class="dropdown-trigger white-text" data-target="dropdown2">Das bin ich<i class="material-icons right white-text">arrow_drop_down</i></a></li>
        <li><a href="{%url 'projects' %}" class="white-text">js-Demos</a></li>
        <li><a href="{%url 'videos'%}" class="white-text">Videos</a></li>
        <li><a href="#" class="white-text">Bewerten!</a></li>
        <p class="white-text">&nbsp &nbsp &nbsp &nbspDesignfarbe: &nbsp <div class="row center-align color-picker"><input type="color" id="picker" value="{{color}}" onchange="changeColor(this.value)"></div></p>
        <div class="row"></div>
        <div class="card green2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'pics/jan.jpg' %}">
            </div>
            <div class="card-content white-text">
                <span class="card-title activator">Bewerbungsbild<i class="material-icons right">more_vert</i></span>
                <p><a href="{%url 'aquarium'%}"><span class="white-text">Projekt Webseite</a></p>
            </div>
            <div class="card-reveal green2">
                <span class="card-title white-text">Jan Ihmels<i class="material-icons right">close</i></span>
                <p class="white-text">Alter: 33 <br/> Ausbildung: IT - FIA <br/> Wohnhaft in: Esslingen <br/><br/> Ihr neuer Mitarbeiter?</p>
            </div>
        </div>        
        <div class="card green2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'pics/jan.jpg' %}">
            </div>
            <div class="card-content white-text">
                <span class="card-title activator white-text">Projekt RubixCube<i class="material-icons right">more_vert</i></span>
                <p><a href="#"><span class="white-text">RubixCube Demo</span></a></p>
            </div>
            <div class="card-reveal green2">
                <span class="card-title white-text">RubixCube<i class="material-icons right">close</i></span>
                <p class="white-text">Unity Projekt: Realistische Darstellung eines RubixCube in Unity, mit Bedienbarkeit auf dem Handy</p>
            </div>
        </div>
        <div class="card green2">
            <div class="card-image waves-effect waves-block waves-light responsive-img">
                <img class="activator" src="{% static 'pics/jan.jpg' %}">
            </div>
            <div class="card-content white-text">
                <span class="card-title activator white-text">Projekt MaxIT<i class="material-icons right">more_vert</i></span>
                <p><a href="#"><span class="white-text">MaxIt Demo</span></a></p>
            </div>
            <div class="card-reveal green2">
                <span class="card-title white-text">MaxIt<i class="material-icons right">close</i></span>
                <p class="white-text">Unity Projekt: Umsetzung eines alten Dos-Spiels für Android</p>
            </div>
        </div>
    </ul>
    <div class="wrapper">
        <div class="leftbar green">
            <div class="card green2">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{% static 'pics/jan.jpg' %}">
                </div>
                <div class="card-content white-text">
                    <span class="card-title activator">Bewerbungsbild<i class="material-icons right">more_vert</i></span>
                    <p><a href="{%url 'aquarium'%}"><span class="white-text">Projekt Webseite</a></p>
                </div>
                <div class="card-reveal green2">
                    <span class="card-title white-text">Jan Ihmels<i class="material-icons right">close</i></span>
                    <p class="white-text">Alter: 33 <br/> Ausbildung: IT - FIA <br/> Wohnhaft in: Esslingen <br/><br/> Ihr neuer Mitarbeiter?</p>
                </div>
            </div>        
            <div class="card green2">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{% static 'pics/jan.jpg' %}">
                </div>
                <div class="card-content white-text">
                    <span class="card-title activator white-text">Projekt RubixCube<i class="material-icons right">more_vert</i></span>
                    <p><a href="#"><span class="white-text">RubixCube Demo</span></a></p>
                </div>
                <div class="card-reveal green2">
                    <span class="card-title white-text">RubixCube<i class="material-icons right">close</i></span>
                    <p class="white-text">Unity Projekt: Realistische Darstellung eines RubixCube in Unity, mit Bedienbarkeit auf dem Handy</p>
                </div>
            </div>
            <div class="card green2">
                <div class="card-image waves-effect waves-block waves-light responsive-img">
                    <img class="activator" src="{% static 'pics/jan.jpg' %}">
                </div>
                <div class="card-content white-text">
                    <span class="card-title activator white-text">Projekt MaxIT<i class="material-icons right">more_vert</i></span>
                    <p><a href="#"><span class="white-text">MaxIt Demo</span></a></p>
                </div>
                <div class="card-reveal green2">
                    <span class="card-title white-text">MaxIt<i class="material-icons right">close</i></span>
                    <p class="white-text">Unity Projekt: Umsetzung eines alten Dos-Spiels für Android</p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function getCookie(name) {
                var dc = document.cookie;
                var prefix = name+"=";
                var begin = dc.indexOf("; "+prefix);
                if(begin== -1) {
                    begin=dc.indexOf(prefix);
                    if(begin!=0) return null
                }
                else {
                    begin+=2;
                    var end = document.cookie.indexOf(";",begin);
                    if(end==-1) {
                        end = dc.length;
                    }
                }
                return decodeURI(dc.substring(begin+prefix.length, end));
            }
            
            var colorc = getCookie("color");
            var color2c = getCookie("color2");
            if (colorc == null) {
                document.cookie = "color=#9ECC1F";
            }
            if (color2c == null) {
                document.cookie = "color2=#4F660F";
            }

            function changeColor(color) {
                document.cookie = "color="+color;
                var color2=decrease_brightness(color, incordec(color));
                document.cookie = "color2="+color2;
                var bwcolor = bwColor(color);
                document.cookie = "colorbw="+bwcolor;
                location.reload();
            };
            function decrease_brightness(hex, lum){      
                hex = String(hex).replace(/[^0-9a-f]/gi, '');
                if (hex.length < 6) {
                    hex = hex[0]+hex[0]+hex[1]+hex[1]+hex[2]+hex[2];
                }
                lum = lum || 0;
                var rgb = "#", c, i;
                for (i = 0; i < 3; i++) {
                    c = parseInt(hex.substr(i*2,2), 16);
                    c = Math.round(Math.min(Math.max(0, c + (c * lum)), 255)).toString(16);
                    rgb += ("00"+c).substr(c.length);
                }

                return rgb;        
            };
            function bwColor(hex) {
                return isLightorDark(hex)?'#000000':'#FFFFFF';
            }
            function incordec(hex) {
                return isLightorDark(hex)?-0.2:-0.5;
            }
            function isLightorDark(hex){
                if (hex.indexOf('#') === 0) {
                    hex = hex.slice(1);
                }
                if (hex.length === 3) {
                    hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
                }
                var r = parseInt(hex.slice(0, 2), 16);
                var g = parseInt(hex.slice(2, 4), 16);
                var b = parseInt(hex.slice(4, 6), 16);
                return (r * 0.299 + g * 0.587 + b * 0.114) > 186?true:false;
            }
        </script>
        {% block content %}

        {% endblock %}
    </div>
    <div class="footer">
        <div id="button"></div>
        <div id="container">
            <div id="cont">
            <div class="footer_center white-text">
	            <div class="row">
                    <div class="col l12 s12">
                        <h2 class="white-text footer-1">Janana</h2>
                        <p class="white-text text-darken-3"><h5 class="footer-2">Diese Webseite dient der Vorstellung meiner Person für Firmen, bei denen ich mich bewerben möchte. Es soll meine Fähigkeiten mit HTML, CSS, Django und Java-Script unterstreichen.</h5></p>
                    </div>
                </div>
                <div class="row footer-copyright">
                    <div class="container">
                        © 2021 Jan Ihmels, Hellerweg 51, 73728 Esslingen &nbsp;&nbsp;| &nbsp;&nbsp; enstanden für das Berufsförderwerk Schömberg, Steinbeisstraße 30, 71272 Renningen
                        <a class="white-text right" href="https://www.bfw-schoemberg.de"> BfW Schömberg</a><br/>
                        <a class="white-text right" href="{% url 'impressum' %}">Impressum </a>
                    </div>
                </div>
                <div class="row footer-copyright"></div>
            </div>
        </div>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/start.js' %}"></script>
</body>
</html>