{% extends 'index.html' %}
{% load static %}

{% block indexicon%}
<li><a href="{%url 'aquarium'%}" class="white-text"><i class="material-icons center white-text">home</i></a></li>
{%endblock%}

{% block indexicon1%}
<li><a href="{%url 'aquarium'%}" class="white-text"><i class="material-icons center white-text">home</i>Startseite</a></li>
{%endblock%}

{% block aqcontent %}
    <div class="container black white-text">
        <div class="row"></div>
        <div class="row">
            <div class="col s2 offset-s10">
                <div class="valign-wrapper center-align">
                    <span class="bw">Ø</span>
                </div>
            </div>
        </div>
        <form id="myForm" name="myForm" method="post">
        {% csrf_token %}
            <!-- question one and output avrage of all database entries in column rating1 -->    
            <div class="row">
                <div class="col s6">
                    <p class="bw">Wie gefällt Ihnen die Webseite?</p>
                </div>
                <div class="col s4">
                    <p class="range-field bw">
                        {{form.bw1}}
                    </p>
                </div>
                <div class="col s2">
                    <p class="bw" id="arating1">{{bw1}}</p>
                </div>
            </div>
            <!-- question two and output avrage of all database entries in column rating2 -->
            <div class="row">
                <div class="col s6">
                    <p class="bw">Würden Sie die Seite weiterempfehlen?</p>
                </div>
                <div class="col s4">
                    <p class="range-field bw">
                        {{form.bw2}}
                    </p>
                </div>
                <div class="col s2">
                    <p class="bw" id="arating2">{{bw2}}</p>
                </div>
            </div>
            <!-- question three and output avrage of all database entries in column rating1 -->
            <div class="row">
                <div class="col s6">
                    <p class="bw">Wie gefällt Ihnen das Design?</p>
                </div>
                <div class="col s4">
                    <p class="range-field bw">
                        {{form.bw3}}
                    </p>
                </div>
                <div class="col s2">
                    <p class="bw" id="arating">{{bw3}}</p>
                </div>
            </div>
            <!-- annotation msg and output of last msg -->
            <div class="row">
                <p class="col s12 bw">Haben Sie Anregungen? Die letzte Anwort war: <span class="blue">{{anm}}</span></p>
            </div>

            <div class="row">
                <div class="row">
                    {{form.anm}}
                </div>
            </div>
            <!-- submit button --> 
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light blue" type="submit" name="action" id="submit" method:"post">Abschicken
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
        <div class="row"></div>
        <div class="row"></div>
    </div>
{% endblock %}