{%extends 'index.html'%}
{%load static%}
{%block indexicon%}
<li><a href="{%url 'aquarium'%}" class="white-text"><i class="material-icons center white-text">home</i></a></li>
{%endblock indexicon%}

{% block indexicon1%}
<li><a href="{%url 'aquarium'%}" class="white-text"><i class="material-icons center white-text">home</i>Startseite</a></li>
{%endblock%}

{%block aqcontent%}
<div class="container">
        <div class="row"></div>
        <!-- start of gallery -->
        <h5 class="white-text">180l Aquarium</h5>
        <!-- gallery group for 180l fish tank-->
        <div class="row gallery">
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0132.jpg'%}" data-fancybox="180l" data-caption="Aquarium 180l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0132.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0134.jpg'%}" data-fancybox="180l" data-caption="Aquarium 180l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0134.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0124.jpg'%}" data-fancybox="180l" data-caption="Aquarium 180l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0124.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0136.jpg'%}" data-fancybox="180l" data-caption="Aquarium 180l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0136.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0145.jpg'%}" data-fancybox="180l" data-caption="Aquarium 180l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0145.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0156.jpg'%}" data-fancybox="180l" data-caption="Aquarium 180l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0156.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0198.jpg'%}" data-fancybox="180l" data-caption="Aquarium 180l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0198.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0250.jpg'%}" data-fancybox="180l" data-caption="Aquarium 180l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0250.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0304.jpg'%}" data-fancybox="180l" data-caption="Aquarium 180l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0304.jpg'%}" /></a>
        </div>
        <div class="row"></div>
        <h5 class="white-text">12l Aquarium</h5>
        <!-- gallery group for 12l fish tank-->
        <div class="row gallery">
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0071.jpg'%}" data-fancybox="12l" data-caption="Aquarium 12l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0071.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0070.jpg'%}" data-fancybox="12l" data-caption="Aquarium 12l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0070.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0091.jpg'%}" data-fancybox="12l" data-caption="Aquarium 12l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0091.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0096.jpg'%}" data-fancybox="12l" data-caption="Aquarium 12l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0096.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0105.jpg'%}" data-fancybox="12l" data-caption="Aquarium 12l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0105.jpg'%}" /></a>            
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0099.jpg'%}" data-fancybox="12l" data-caption="Aquarium 12l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0099.jpg'%}" /></a>            
        </div>
        <div class="row"></div>
        <h5 class="white-text">54l Aquarium</h5>
        <!-- gallery group for 54l fish tank-->
        <div class="row gallery">
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0261.jpg'%}" data-fancybox="54l" data-caption="Aquarium 54l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0261.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0265.jpg'%}" data-fancybox="54l" data-caption="Aquarium 54l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0265.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0264.jpg'%}" data-fancybox="54l" data-caption="Aquarium 54l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0264.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0271.jpg'%}" data-fancybox="54l" data-caption="Aquarium 54l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0271.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0276.jpg'%}" data-fancybox="54l" data-caption="Aquarium 54l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0276.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0282.jpg'%}" data-fancybox="54l" data-caption="Aquarium 54l"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0282.jpg'%}" /></a>
        </div>
        <div class="row"></div>
        <h5 class="white-text">Weitere Bilder</h5>
        <!-- gallery group for additional photos fish tank-->
        <div class="row gallery">
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0142.jpg'%}" data-fancybox="morepics" data-caption="Weitere Bilder"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0142.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0150.jpg'%}" data-fancybox="morepics" data-caption="Weitere Bilder"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0150.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0165.jpg'%}" data-fancybox="morepics" data-caption="Weitere Bilder"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0165.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0197.jpg'%}" data-fancybox="morepics" data-caption="Weitere Bilder"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0197.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0217.jpg'%}" data-fancybox="morepics" data-caption="Weitere Bilder"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0217.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0219.jpg'%}" data-fancybox="morepics" data-caption="Weitere Bilder"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0219.jpg'%}" /></a>
            <a class="grouped_elements" href="{%static 'aquarium/pics/Gallerie/big/IMG_0228.jpg'%}" data-fancybox="morepics" data-caption="Weitere Bilder"><img src="{%static 'aquarium/pics/Gallerie/small/IMG_0228.jpg'%}" /></a>
        </div>
        <div class="row"><
            <!-- copyright -->
            <p class="logo-text">Bilder geschossen von ©Adrian Berny
                <a href="https://www.facebook.com/anb_bandphotography-2381502605462318"><img src="{%static 'aquarium/pics/f_logo_RGB-White_114.png'%}" class="logos" /></a>
                <a href="https://www.instagram.com/anb_photographics/"><img src="{%static 'aquarium/pics/Instagram_glyph.png'%}" class="logos" /></a>
            </p>
        </div>
    </div>
{% endblock %}
{% block extrajava %}
 <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
 <script>
        $(document).ready(function () {
            $('[data-fancybox]').fancybox({
                arrows: false,
                loop: true,
                toolbar: false,
                //preventCaptionOverlap : false,
                afterLoad: function (instance, slide) {
                    $('<a title="Close" class="fancybox-item fancybox-close" href="javascript:;" data-fancybox-close></a><a title="Previous" class="fancybox-item fancybox-nav fancybox-prev" href="javascript:;" data-fancybox-prev><span></span></a><a title="Next" class="fancybox-item fancybox-nav fancybox-next" href="javascript:;" data-fancybox-next><span></span></a>').appendTo(slide.$content);
                }
            });
        });
    </script>
{% endblock %}