{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .active {background-color: {{color}} !important;}
        .white-text {color: {{colorbw}} !important;}
        .waves-effect:hover {background-color: {{color2}} !important;}
        .employer {color: {{color2}} !important;}   
    </style>
    <div class="content">
        <div class="row"></div>
        <div class="row center-align jani"><h3>Lebenslauf - Werdegang</h3></div>
        <div class="row"></div>
        <div class="row center-align supper1"><h5>Hobbies und andere Infos</h5></div>
        <div class="tabwrapper">
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date1">02|21 - 02|23</span><br/><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row1">
                        <span class="employer">Berufsförderwerk Schömberg</span><br/>
                        <span class="task">Ausbildung Fachinformatiker</span><br/>
                        <span class="utask">Fachrichtung Anwendungsentwicklung</span><br/>
                        <span class="addr">Steinbeisstraße 30</span><br/>
                        <span class="addr">71272 Renningen</span><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date2">09|18 - 12|18</span><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row2">
                        <span class="employer">Vitakustik GmbH | Lindacher Hörakustiker</span><br/>
                        <span class="task">Ausbildung Hörakustiker</span><br/>
                        <span class="addr">Am Jakobsweg 2</span><br/>
                        <span class="addr">71364 Winnenden</span><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date3">seit 12|08</span><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row3">
                        <span class="employer">Menüdienst Esslingen</span><br/>
                        <span class="task">Betreuungshelfer</span><br/>
                        <span class="addr">Schenkenbergstr. 93</span><br/>
                        <span class="addr">73733 Esslingen</span><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date4">08|17 - 11|17</span><br/><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row4">
                        <span class="employer">Charlottenhof Pflegeheim Esslingen</span><br/>
                        <span class="task">Betreuungsassisstent</span><br/>
                        <span class="addr">Plochinger Str. 21</span><br/>
                        <span class="addr">73730 Esslingen</span><br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-align jani">
            <ul class="pagination">
                <li class="waves-effect"><a href="{% url 'werdegang' %}">Berufe</a></li>
                <li class="waves-effect"><a href="{% url 'schule' %}">Schule</a></li>
                <li class="active"><a href="{% url 'hobbies' %}"><span class="white-text">Hobbies</span></a></li>
            </ul>
        </div>
    </div>
{% endblock %}