{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .active {background-color: {{color}} !important;}
        .white-text {color: {{colorbw}} !important;}
        .waves-effect:hover {background-color: {{color2}} !important;}
        .employer {color: {{color2}} !important;}   
    </style>
    <div class="content">
        <div class="row"></div>
        <div class="row center-align"><h3>Lebenslauf - Werdegang</h3></div>
        <div class="row"></div>
        <div class="row center-align supper1"><h5>Hobbies und andere Infos</h5></div>
        <div class="tabwrapper">
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date1">Gitarre</span><br/><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row1">
                        <span class="task">Neben dem Computer das wichtigste Hobby. Autodidaktisch erlernt seit etwa 10 Jahren.</span><br/>
                        <span class="utask">Anwendung im Job:</span><br/>
                        <span class="addr">Kreativität | Kritikfähigkeit</span><br/>
                        <span class="addr">Umgang mit Stress | Lernfähigkeit</span><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date2">Aquarist</span><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row2">
                        <span class="task">Mein neuestes Hobby. Betreibe ich erst seit Anfang 2021.</span><br/>
                        <span class="utask">Anwendung im Job:</span><br/>
                        <span class="addr">Planung | Umsetzung</span><br/>
                        <span class="addr">Kreativität | Verantwortung</span><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date3">Computer(spiele)</span><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row3">
                        <span class="task">Mein ältestes Hobby. Bereits mit etwa 5 Jahren hatte ich meinen ersten Gameboy.</span><br/>
                        <span class="utask">Anwendung im Job:</span><br/>
                        <span class="addr">Strategie | Schnelle Entscheidungen</span><br/>
                        <span class="addr">Teamfähigkeit | Planung</span><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date4">Weitere Infos</span><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row4">
                        <span class="task">Sprachen:</span><br/>
                        <span class="task">Deutsch  | Muttersprache</span><br/>
                        <span class="task">Englisch | C1</span><br/>
                        <span class="task">Zusätzliche Qualifikation</span><br/>
                        <span class="task">Führerschein | Klasse B</span><br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-align jani">
            <ul class="pagination">
                <li class="waves-effect"><a href="{% url 'werdegang' %}">Berufe</a></li>
                <li class="waves-effect"><a href="{% url 'schule' %}">Schule</a></li>
                <li class="active"><a href="{% url 'hobbies' %}"><span class="white-text">Hobbies</span></a></li>
            </ul>
        </div>
    </div>
{% endblock %}