{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
    .tl {
        opacity:0;
        color: transparent;
        height: 35vh;
        border: 1px solid lightgray;
        box-shadow: 5px 5px 4px darkgray;
        animation: forwards homeani;
        animation-duration: 3s;
    }

    .tr {
        opacity: 0;
        color: transparent;
        height: 35vh;
        border: 1px solid lightgray;
        box-shadow: 5px 5px 4px darkgray;
        animation: forwards homeani;
        animation-duration: 3s;
        animation-delay: 3s;
}


    .bl {
        opacity: 0;
        color: transparent;
        height: 35vh;
        border: 1px solid lightgray;
        box-shadow: 5px 5px 4px darkgray;
        animation: forwards homeani;
        animation-duration: 3s;
        animation-delay: 6s;
    }

    .br {
        opacity: 0;
        color: transparent;
        height: 35vh;
        border: 1px solid lightgray;
        box-shadow: 5px 5px 4px darkgray;
        animation: forwards homeani;
        animation-duration: 3s;
        animation-delay: 9s;
    }
    @keyframes homeani {
    0%      {opacity:0;
             color:transparent;
             text-shadow: 0px 0px 20px lightgray;}
    50%     {
            opacity: 1;}
    100%    {opacity: 1;
             color: {{colorbw}};
             background-color: {{color}};
             text-shadow: 0px 0px 10px {{color2}};}
}
    </style>
    <div class="container">
        <div class="row"></div>
        <div class="row center-align"><h3>Das erwartet Sie auf dieser Webseite</h3></div>
            <div class="row">
                <div class="col s5 tl">
                    <p class="lightls">Zunächst einmal eine Vorstellung meiner selbst, eine Art Anschreiben, einen Lebenslauf. Alles schön zusammengefasst und optisch ansprechend. Zu finden im Menü "Das bin ich!".</p>
                </div>
                <div class="col s5 tr offset-s1">
                    <p class="lightls">In "js-Demos" finden Sie einige Javascript-Demos. Darunter eine Funktion zum Finden des Größten Gemeinsamen Teilers, Primfaktorzerlegung, einen Taschenrechner und ein dynamisches Chart.</p>
                </div>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col s5 bl left">
                    <p class="lightls">In "Videos" finden Sie Videos, die meine Unity-Android Apps präsentieren und zudem eine kleine Videovorstellung. Mit "Bewerten" können Sie mir gerne ein Feedback zur Seite abgeben. Dies würde mich sehr freuen.</p>
                </div>
                <div class="col s5 br offset-s1">
                    <p class="lightls">Zu guter Letzt ist noch mein "alte" Webseite, die als Aufgabe für ein HTML/CSS Projekt abgegeben wurde, im Sidemenü verlinkt. Highlights hierbei sind die Bewerten Seite (ehemals mit PHP heute mit Django) und die Technikseite.</p>
                </div>
            </div>   
        </div>
    </div>     
{% endblock %}
{% block rubixcube %}
<a data-fancybox="Videos" href="{{rubix.videofile.url}}" data-caption="{{rubix.title}}">RubixCube Demo</a>
{% endblock %}
{% block rubixcube2 %}
<p><a data-fancybox="Videos" href="{{videos.videofile.url}}" data-caption="{{videos.title}}"><span class="white-text">RubixCube Demo</span></a></p>
{% endblock %}