{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row"></div>
        <div class="row center-align"><h3>Das erwartet Sie auf dieser Webseite</h3></div>
            <div class="row">
                <div class="col s5 tl">
                    <p class="lightls">Zunächst einmal eine Vorstellung meiner selbst, eine Art Anschreiben, einen Lebenslauf. Alles schön zusammengefasst und optisch ansprechend. Zu finden im Menü "Das bin ich!".</p>
                </div>
                <div class="col s5 tr offset-s1">
                    <p class="lightls">In "js-Demos" finden Sie einige Javascript-Demos. Darunter eine Funktion zum Finden des Größten Gemeinsamen Teilers, Primfaktorzerlegung, einen Taschenrechner und ein dynamisches Chart.</p>
                </div>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col s5 bl left">
                    <p class="lightls">In "Videos" finden Sie Videos, die meine Unity-Android Apps präsentieren und zudem eine kleine Videovorstellung. Mit "Bewerten" können Sie mir gerne ein Feedback zur Seite abgeben. Dies würde mich sehr freuen.</p>
                </div>
                <div class="col s5 br offset-s1">
                    <p class="lightls">Zu guter Letzt ist noch mein "alte" Webseite, die als Aufgabe für ein HTML/CSS Projekt abgegeben wurde, im Sidemenü verlinkt. Highlights hierbei sind die Bewerten Seite (ehemals mit PHP heute mit Django) und die Technikseite.</p>
                </div>
            </div>   
        </div>
    </div>     
{% endblock %}