{% extends 'index.html' %}
{% load static %}
{% block indexicon%}
<style>
    .homeicon {color: {{color2}} !important;}
</style>
<li><a href="{%url 'home'%}" class="white-text"><i class="material-icons center white-text homeicon">home</i></a></li>
{% endblock %}

{% block indexicon1%}
<style>
    .homeicon {color: {{color2}} !important;}
</style>
<li><a href="{%url 'home'%}" class="white-text"><i class="material-icons center white-text homeicon">home</i>zurück zu Portfolio</a></li>
{% endblock %}

{% block aqcontent %}
<!-- first parallax picture of fish tank 1 with picture title-->
        <div class="parallax-container">
            <div class="parallax">
                    <a href="#">
                        <img src="{%static 'aquarium/pics/Parallax/IMG_0134.jpg'%}" alt="180l Aquarium" class="responsive-img aq1" />
                    </a>    
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="card transparent center-align z-depth-0">
                        <h1 class="parallax-text">Aquarium 180l</h1>
                    </div>
            </div>
        </div>
<!-- first text -->
        <div class="container white-text z-depth-3">
            <p class="normalertext">Diese Webseite ist im Zusammenhang mit einer Projektarbeit zum Thema HTML und CSS im Rahmen einer Ausbildung zum Fachinformatiker / Fachgebiet Anwendungsentwickler entstanden. Zur Realisierung dieser Webseite habe ich HTML5, Materialize CSS, fancybox3 und jQuery benutzt.</p>
            <p class="normalertext">Die Seite zeichnet sich zudem durch Responivität und durch ein einheitliches Design aus. Ich habe als CSS-Komponenten Parallaxe Verschiebung, eine Navigationsbar, die je nach Gerät in ein Seitenmenü umgewandelt wird, einen Footer, Cards und einige weitere Elemente benutzt.</p>
            <p class="normalertext">Damit die Seite vom Internet aus zu erreichen ist habe ich einen XAMP[P] Server aufgesetzt. mySQL und PHP werden allerdings ausschließlich auf der Bewerten Seite benutzt.</p>
            <p class="normalertext">Inhalt der Webseite ist mein relativ neues Hobby, die Aquaristik. Ich wünsche Ihnen viel Spaß!</p>
        </div>
<!-- second parallax picture of fish tank 2 with picture title -->
        <div class="parallax-container">
            <div class="parallax">
                    <a href="#">
                        <img src="{%static 'aquarium/pics/Parallax/IMG_0261.jpg'%}" alt="54l Aquarium" class="responsive-img aq1" />
                    </a>    
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="card transparent center-align z-depth-0">
                        <h1 class="parallax-text">Aquarium 54l</h1>
                    </div>
            </div>
        </div>
<!-- second text -->
        <div class="container white-text z-depth-3">
            <p class="normalertext">Hier möchte ich Sie gerne dazu einladen, meine neue Leidenschaft nachzuvollziehen und sich von der Welt der Aquarien begeistern zu lassen. Diese faszinierende eigene Welt, in der sich sowohl Pflanzen als auch Fische tummeln, erfreut mich jeden Tag auf's neue!</p>
            <p class="normalertext">Auf dieser Seite möchte ich Ihnen gerne vorstellen, welche Aquarien ich bisher zuhause habe, ich möchte die Technik vorstellen, die allgemein in einem Aquarium wichtig ist und präsentiere meine Aquarien in einer Gallerie.</p>
            <p class="normalertext">Gerne möchte ich Sie danach bitten, mir ein Feedback zu der Seite abzugeben.</p>
        </div>
<!-- third parallax picture of fish tank 3 with picture title -->
        <div class="parallax-container">
            <div class="parallax">
                    <a href="#">
                        <img src="{%static 'aquarium/pics/Parallax/IMG_0099.jpg'%}" alt="12l Aquarium" class="responsive-img aq1" />
                    </a>    
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="card transparent center-align z-depth-0">
                        <h1 class="parallax-text">Aquarium 12l</h1>
                    </div>
            </div>
        </div>
<!-- third text -->
        <div class="container white-text z-depth-3">
            <p class="normalertext">Zunächst möchte ich mich gerne vorstellen und den Weg beschreiben, der zu diesem Hobby geführt hat.</p>
            <p class="normalertext">Jan Ihmels, sehr erfreut! Ich bin 33 Jahre alt, geboren und aufgewachsen in Esslingen am Neckar, dort auch wieder wohnhaft. Nach dem Abitur habe ich zunächst Medientechnik studiert. Mein Weg führte mich in eine Ausbildung zum Hörakustiker, in mehrere Studienbereiche und zu sehr interessanten anderen Jobs.</p>
            <p class="normalertext">Zur Aquaristik bin ich durch ein weiteres Hobby gekommen, meine Zimmerpflanzen. Ich habe bemerkt, dass ich einen durchaus grünen Daumen habe, und wollte mich über neue Möglichkeiten informieren, Pflanzen zu züchten. Bei der Recherche bin ich auf die Aquaristik gestoßen. Auch dabei ist mir immernoch die Gärtnerei wichtiger als die Fischhaltung.</p>
        </div>
        <script src="{%static 'aquarium/js/jquery-3.6.0.js'%}"></script>
        <script src="{%static 'aquarium/js/materialize.js'%}"></script>
        <script>
            $('.parallax').parallax();
        </script>
    {% endblock %}