{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .active {background-color: {{color}} !important;}
        .white-text {color: {{colorbw}} !important;}
        .waves-effect:hover {background-color: {{color2}} !important;}
        .employer {color: {{color2}} !important;}
    </style>
    <div class="content">
        <div class="row"></div>
        <div class="row center-align"><h3>Lebenslauf - Werdegang</h3></div>
        <div class="row"></div>
        <div class="row center-align supper1"><h5>Schullaufbahn</h5></div>
        <div class="tabwrapper">
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date1">03|17 - 06|17</span><br/><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row1">
                        <span class="employer">Manz Bildungszentrum</span><br/>
                        <span class="task">Weiterbildung nach §53 SGB IX</span><br/>
                        <span class="utask">Betreuungsassisstent</span><br/>
                        <span class="addr">Olgastr. 31</span><br/>
                        <span class="addr">73728 Esslingen</span><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date2">03|13 - 02|15</span><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row2">
                        <span class="employer">Hochschule Esslingen</span><br/>
                        <span class="task">Studium Wirtschaftsinformatik</span><br/>
                        <span class="addr">Robert-Bosch-Str. 1</span><br/>
                        <span class="addr">73037 Göppingen</span><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date3">09|10 - 02|12</span><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row3">
                        <span class="employer">Hochschule für Technik Stuttgart</span><br/>
                        <span class="task">Studium Mathematik</span><br/>
                        <span class="addr">Schellingstr. 24</span><br/>
                        <span class="addr">70174 Stuttgart</span><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date4">03|08 - 08|09</span><br/><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row4">
                        <span class="employer">Hochschule Esslingen</span><br/>
                        <span class="task">Studium Medientechnik</span><br/>
                        <span class="addr">Flandernstr. 101</span><br/>
                        <span class="addr">73732 Esslingen</span><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1wrapper left">
                    <div class="col1 right-align">
                        <span class="dates date5">09|97 - 07|07</span><br/><br/><br/><br/><br/>
                    </div>
                </div>
                <div class="col2wrapper right">
                    <div class="col2 left-align row5">
                        <span class="employer">Georgii-Gymnasium</span><br/>
                        <span class="task">Abitur</span><br/>
                        <span class="addr">Lohwasen 1</span><br/>
                        <span class="addr">73728 Esslingen</span><br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-align jani">
            <ul class="pagination">
                <li class="waves-effect"><a href="{% url 'werdegang' %}">Berufe</a></li>
                <li class="active"><a href="{% url 'schule' %}"><span class="white-text">Schule</span></a></li>
                <li class="waves-effect"><a href="{% url 'hobbies' %}">Hobbies</a></li>
            </ul>
        </div>
    </div>
{% endblock %}